@import '../../color';

.TopNav{
    background-color: $pri-color;
    padding: 0rem 5rem 0rem 5rem;
    // padding-right: 2rem;

}

@media(max-width:420px){
    .TopNavWithBg{
        background-image: url("../../../assets/hero-bg.png");
        padding: 0rem 5rem 0rem 5rem;
        // padding-right: 2rem;
    
    }  
}

// .item{
//     display: flex;
//     justify-content: center;
// }

// .TopNav{
//     // border: 1px solid black;
//     width: 100%;
//     padding: 0.6rem;
//     .sub-section{
//         background-color:$white;
//         max-height: 73px;
//         padding: 1rem;
//         .nav-content{
//             display: flex;
//             justify-content: space-between;
//             padding-left: 5rem;
//             padding-right: 5rem;
//             .sub-nav{
//                 display: flex;
//                 justify-content: space-between;
//                 p{
//                     color: $pri-color;
//                     margin-right: 4rem;

//                     font-style: normal;
//                     font-weight: 600;
//                     font-size: 0.8em;
//                 }
//                 .nav-button{
//                     border: none;
//                     background-color: $pri-color;
//                     border-radius: 10px;
//                     color: #E5FFFF;
//                     padding-left: 2rem;
//                     padding-right: 2rem;
//                     font-style: normal;
//                     font-weight: 600;
//                     font-size: 0.8em;
//                 }
//             }
//         }
//     }
// }