@import '../../color';

.TopNav{
    background-color: $white;
    padding: 0rem 5rem 0rem 5rem;
    // padding-right: 2rem;
    .tool_bar{
        background-color: $white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .download-buttonText{
            display: flex;
            align-items: center;
            .TopNavText{
                color: $pri-color;
                font-weight: 500;
                font-size: 1em;
                margin-right: 5rem;
            }
            .download-button{
                background-color: $pri-color;
                color: $white;
                border: none;
                border-radius: 8px;
                font-size: 0.8em;
                text-transform: capitalize;
                padding: 1rem 2rem 1rem 2rem;
                max-width: 181px;
                // width: 80%;
                // padding-right: 1rem;
            }
        }
    }
}

// .TopNav{
//     // border: 1px solid black;
//     width: 100%;
//     padding: 0.6rem;
//     .sub-section{
//         background-color:$white;
//         max-height: 73px;
//         padding: 1rem;
//         .nav-content{
//             display: flex;
//             justify-content: space-between;
//             padding-left: 5rem;
//             padding-right: 5rem;
//             .sub-nav{
//                 display: flex;
//                 justify-content: space-between;
//                 p{
//                     color: $pri-color;
//                     margin-right: 4rem;

//                     font-style: normal;
//                     font-weight: 600;
//                     font-size: 0.8em;
//                 }
//                 .nav-button{
//                     border: none;
//                     background-color: $pri-color;
//                     border-radius: 10px;
//                     color: #E5FFFF;
//                     padding-left: 2rem;
//                     padding-right: 2rem;
//                     font-style: normal;
//                     font-weight: 600;
//                     font-size: 0.8em;
//                 }
//             }
//         }
//     }
// }